
body {
    font-family: 'lato', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    font-weight: 300;
    width: 960px;
}

/*headings*/
h1, h2, h3 {
    font-family: 'Lato', 'Georgia', Times, Times New Roman, serif;
    font-weight: 300;
}

h2, h3 {
    color: #4aaaa5;
    font-weight: bold;
}





/* nav */
nav {
    height: 75px;
    border-bottom: solid #8f8c8c;
    z-index: 1000;
}

ul {
    list-style-type: none;
    float: right;
}

.main-nav li {
    display: inline;
    padding: 10px 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 30%;
    height: 70px;
    display: inline;
    margin-left: 30px;
    padding: 27px;
    font-size: 40px;

}



/*main content */

.container {
    overflow: auto;
    background-image: url("circles-dark.png");
    background-size: cover;
    background-position: center;
    width: 960px;
    border-bottom: solid #4aaaa5 8px;
    
}
.main-content {
    margin: 30px;
    border: solid #8f8c8c 1px;
    width: 60%;
    float: left;
    overflow: auto;
    background-color: white;
    padding-left: 30px;
}

h2 {
    margin-left: 50px;
}


p {
    width: 50%;
    float: right;
    line-height: 150%;
    margin: 0 auto;
    padding-right: 40px;
}


/*connect with me */
.connectwithme {
    width: 270px;
    height: 150px;
    border: solid #8f8c8c 1px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    background-color: white;
}

h3 {
    text-align: center;
}

.connectwithme img {
    padding-left: 8%;
    
}

.images-box {
    padding-left: 10%;
    padding-right: 10%;

}


/*footer*/
footer {
    background-color: #666666;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 15px;
}

footer p {
   text-align: center;
   width: 100%;
   margin-top: 15px;
}

/*contact page */
input[type=text],
input[type=email],
textarea {
    width: 90%;
    padding: 7px;
    margin: 5px;
}

textarea {
    height: 100px;
}

label {
    padding: 7px;
    margin: 5px 0;
    
}

input[type=submit] {
    font-family: 'lato', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* portfolio */

.gallery {
    margin-top: 30px;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.project-name {
    position: absolute;
    top: -111%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    background-color: #4aaaa5;
    width: 250px;
    height: 37px;
    padding-top: 10px;
}

.main-content img {
    margin-left: 0; 
}